---
import Head from '@components/head/Base.astro'
const { seo } = Astro.props
import '../assets/styles/main.css'
---

<!DOCTYPE html>
<html lang="nl">
  <Head {seo} />
  <body
    class="font-primary font-normal font-base res-text-base text-gray-600 leading-normal w-full scroll-smooth"
  >
    <slot />
  </body>
</html>
